.Rhistory
.ipynb_checkpoints/
.ropeproject/
.pytest_cache/

fastsgd.egg-info/

tests/__pycache__/

fastsgd/__pycache__/
fastsgd/.ropeproject/
fastsgd/__pycache__/
fastsgd/learning_rate/__pycache__/
fastsgd/obsolete_src.py
